* {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px Roboto, sans-serif;
    background: #f4f4f4;
    -webkit-font-smoothing: antialiased;
}


.container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo {
    text-align: center;
    height: 5rem;
    margin-bottom: -2.5rem;
}

.container form h5 {
    font-size: 20px;
}

.container form {
    margin-top: 80px;
}

.container form input {
    width: 100%;
    max-width: 350px;
    height: 2rem;

    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 5px;
    padding: 0 6px;
    margin: 8px 0 10px 0;
    
}  

.button {
    width: 100%;
    height: 30px;
    background-color: #cc0000;
    border: 0;
    border-radius: 8px;
    color: #f4f4f4;
    font-weight: 700;
    margin-top: 5px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 28px;
    transition: filter .2s;
}

.button:hover {
    filter: brightness(90%);
}